.page-2 {
    color: #FA4D42;
    display: flex;
    /*max-width: 985px;*/
    margin: 0 auto;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 30px;
}

.page-2-header {
    font-size: 35px;
    font-weight: 500;
    line-height: 60px;
    padding: 50px 0 30px 0;
    margin: 0;
}

.ub {
    display: block;
    width: 129px;
    background-image: url("../static/assets/ub.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.mu {
    display: block;
    width: 129px;
    background-image: url("../static/assets/University-of-Mumbai.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 50px;
}


.page-2 a {
    color: #FA4D42;;
}

.page-2-sub-header {
    text-align: left;
    margin: 10px 35px;
    font-size: 16px;
}

.page-2-sub-text {
    text-align: left;
    color: rgb(79, 90, 96);
}

ul {
    margin: 0;
    list-style: none;
}

.stay-left {
    float: left;
    width: 50%;
}

.stay-right {
    float: right;
    width: 50%;
    display: contents;
}

.vml2 {
    display: block;
    width: 129px;
    background-image: url("../static/assets/VMLY&R.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.vml1 {
    display: block;
    width: 129px;
    background-image: url("../static/assets/vml.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.agena {
    display: block;
    width: 129px;
    background-image: url("../static/assets/agena.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.epic {
    display: block;
    width: 129px;
    background-image: url("../static/assets/epic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.cs {
    display: block;
    width: 129px;
    background-image: url("../static/assets/CS.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hands {
    display: block;
    width: 129px;
    background-image: url("../static/assets/30.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.key-feature-block {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.key-feature-block .poo {
    padding: 0 15px 0 0;
}

.video-block {
    width: 300px;
    height: 600px;
    position: relative;
    bottom: 70px;
}

video {
    width: 85.5%;
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.alternate-video {
    width: 85.5%;
    position: absolute;
    top: 3%;
    left: 6%;
}

.video-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    /*background-image: url("../static/assets/frame@3x.png");*/
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .page-2 {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .page-2 {
        flex-direction: column-reverse;
    }

    .page-2-header {
        padding: 0;
        text-align: center;
    }

    .key-feature-block {
        display: table-caption;
        margin-bottom: 50px;
    }

    .key-feature-block .poo {
        margin: 0 auto;
    }

    .key-feature-block img {
        float: unset;
        width: 108px;
        height: unset;
        padding: 0;
    }

    .text-align-left {
        text-align: unset;
    }

    .key-feature-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 10px;
        padding: 0;
    }

    .page-2-sub-text {
        width: unset;
    }

    .float-right {
        float: unset;
    }

    .video-block {
        margin: 0 auto;
    }

    .mu {
        height: 132px;
        padding: 0 15px 0 0;
        margin: 0 auto;
    }

    .ub {
        height: 132px;
    }

    .agena {
        height: 132px;
    }

    .epic {
        height: 132px;
    }

    .cs {
        height: 132px;
    }

    .hands {
        height: 132px;
    }

}

@media screen and (max-width: 480px) {
    .page-2-header {
        font-size: 25px;
    }
}