@font-face {
  font-family: 'Geomanist';
  src: url('/static/fonts/geomanist-regular-webfont.eot');
  src: url('/static/fonts/geomanist-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Geomanist-Bold';
  src: url('/static/fonts/geomanist-bold-webfont.eot');
  src: url('/static/fonts/geomanist-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Geomanist-Light';
  src: url('/static/fonts/geomanist-light-webfont.eot');
  src: url('/static/fonts/geomanist-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Geomanist-Medium';
  src: url('/static/fonts/geomanist-medium-webfont.eot');
  src: url('/static/fonts/geomanist-medium-webfont.woff') format('woff');
}

@media (max-width:767px) {
  .br-xs{ display:none; }
}


.App {
  text-align: center;
  font-family: Geomanist;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-light {
  font-family: Geomanist-Light;
}

.font-medium {
  font-family: Geomanist-Medium;
}

.font-bold {
  font-family: Geomanist-Bold;
}

#p_wrap {
  white-space: pre-line;
  margin: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-align-left {
  text-align: left;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.download-cta {
  z-index: 99;
}

.download-cta {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}

.hide {
  display: none !important;
}

.no-height {
  overflow: hidden;
  height: 0 !important;
  margin: 0 !important;
  -webkit-transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .apple {
    padding: 1px;
  }

  .google {
    padding: 1px;
  }
}

@media screen and (max-width: 480px) {
  .download-cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}